
@use '../../styles/abstracts/variables';


.presentation-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(315deg, #00567a, #002230);
    border-radius: 20px;
    margin-top: 3rem;
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    .presentation-title{
        margin-top: 0;
        margin-bottom: 10px;
    }
    .emeric-picture {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-image: url('src/assets/images/emeric_picture.jpg');
        background-size: cover;
        background-position: center;
        margin: 0 auto; 
      }
    .text-presentation{
        margin: auto;
        font-size: 20px;
        color: white;
        margin-bottom: 3rem;
        max-width: 750px;
        h3{
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 1.5rem;
        }
        p{
            margin: 10px;
            margin-left: 0;
        }
    }
    .lien-cv{
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 15px;
        background-color: white;
        color: #00567a;
        font-weight: bold;
        max-width: 16rem;
        margin: auto;
        display: inline-block;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .lien-cv:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

}





