/*** Error404 ***/

@use '../../styles/abstracts/variables';



.error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;

    .error-title{
        color: #00567a;
        font-size: 15rem;
        margin-top: 5rem;
        margin-bottom: 1.2rem;
    }
    .error-text{
        color: #00567a;
        font-size: 2.2rem;
        margin-bottom: 6rem;
    }
    .back-home{
        text-decoration: underline;
        color: variables.$black-color;
        font-size: 18px;
    }
}



/* Media Query "mobile"  (720px ou moins) */
@media (max-width: 720px) {
    .error404{
        margin-bottom: 7rem;
    
        .error-title{
            font-size: 8rem;
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
        .error-text{
            font-size: 1.5rem;
            margin-bottom: 7rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .back-home{
            font-size: 18px;
        }
    }
}