/*** variables ***/

/* couleurs */
$background-color-primary : #FFFFFF;
$background-color-footer : #000000;

$red-color : #FF6060;
$black-color: #000000;
$white-color: #FFFFFF;


/* polices */
$font-primary: 'Montserrat', sans-serif;

