/* HousingDetails */
@use '../../styles/abstracts/variables';


.housing-details {
    margin-bottom: 1rem;

    .housing-header {
        display: flex;
        justify-content: space-between;

        .header-left {
            .housing-title {
                font-family: variables.$font-primary;
                color: #00567a;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .housing-location {
                margin-top: 0;
                font-size: 1.2rem;
            }
            .tags {
                margin-left: 0rem;
                padding-left: 0rem;
                .tag {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 5px;
                    padding: 5px 10px;
                    background: linear-gradient(315deg, #00567a, #002230);
                    color: variables.$white-color;
                    border-radius: 10px;
                    min-width: 100px;
                    text-align: center;
                    margin-left: 0rem;
                    margin-right: 8px;
                }
            }
        }

        .header-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .links-container {
                display: flex;
                margin-top: 2rem;
                margin-right: 2rem;
                gap: 4rem; /* Espacement entre les liens */
            }

            .project-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: #002230;
                font-size: 14px;
                transition: color 0.3s, transform 0.3s ease;
            }

            .project-link i {
                font-size: 3.5rem;
                margin-bottom: 5px;
            }

            .project-link:hover {
                transform: scale(1.1);
                color: #00567a;
            }
        }
    }

    .housing-accordions {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .accordion {
            width: 580px;
        }

        &.open {
            height: 180px;
        }

        ul {
            padding-top: 0rem;
            margin: 0rem;
        }
    }
}

/* Media Query "mobile" (720px ou moins) */
@media (max-width: 720px) {
    .housing-details {
        width: calc(100% - 30px);
        margin: 0 15px;

        .housing-header {
            display: flex;
            flex-direction: column;

            .header-left {
                margin-top: 0;
                text-align: center;

                .housing-title {
                    margin-top: 0;
                    font-size: 1.5rem;
                }

                .housing-location {
                    font-size: 0.9rem;
                }

                .tags {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    .tag {
                        font-size: 12px;
                        min-width: 70px;
                    }
                }
            }

            .header-right {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 0;
                margin-bottom: 1rem;

                .links-container {
                    flex-direction: row;
                    align-items: center;
                    gap: 4rem;
                }

                .project-link i {
                    font-size: 3.5rem;
                }

                .project-link span {
                    font-size: 15px;
                }
            }
        }

        .housing-accordions {
            margin-top: 0.5rem;
            flex-direction: column;
            width: calc(100% - 30px);

            .accordion {
                max-width: 380px;
                font-size: 0.9rem;

                h3 {
                    font-size: 1rem;
                }
            }
        }
    }
}

