/*** Accordion ***/

@use '../../styles/abstracts/variables';


.accordion {
  margin-bottom: 1rem;
  border: none;
  overflow: hidden;

  &-header {
    background: linear-gradient(315deg, #00567a, #002230);
    color: variables.$white-color;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    border-radius: 8px;

    h3 {
      margin: 0;
    }

    .arrow {
      color: variables.$white-color;
      width: 20px;
      height: 20px;
      background-image: url('../../assets/icons/accordion_arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: transform 0.4s ease;

      &.open {
        transform: rotate(-180deg);
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease; 
    padding: 0 15px;
    background-color: variables.$white-color;
    border: none;
    font-size: 18px;
    line-height: 1.5;

    &.open {
      max-height: 160px;
      padding: 15px;
    }
  }
}



/* Media Query "mobile"  (720px ou moins) */
@media (max-width: 720px) {
    .accordion {
      margin-bottom: 2rem;
      
      &-header {
        padding: 10px;
        
        h3 {
          font-size: 1rem;
        }
      }
      
      &-content {
        &.open {
          max-height: 180px;
          padding: 10px;
        }
      }
    }
  }
